/*
    Designed by Roger Mawer
    www.mangomeat.com
*/

body, html {
    height:100%;
    background-color: #ffffff
}
.newbgimg{
    background-image:url(../img/backgroun.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    height: 100%;
    width: 100%
}
body {
	line-height: 1.4;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 0.5px;
    font-size: 15px;
	font-weight: 400;
}

.header {
    background-size: cover;
    min-height: 630px;
    position: relative;
}

.bg-color{
    background-color: #fffff4;
    height:100%;
}
    
.banner-text{
    padding-top: 10px;
    padding-left: 10px;
	margin-top: 0px;
    display: flex;

}
.banner-text h2{
	font-size: 40px;
	font-weight: 400;
	font-family: 'Questrial', sans-serif;
}



.title-text{
	padding: 0;
	font-size: 22px;
    letter-spacing: 4px;
    font-weight:normal;
    color:#000;
    margin-bottom: 0;
}


/*
responsive media queries
*/
@media (min-width: 551px) and (max-width: 980px){
	.title-text{
	margin-bottom: 0px;
	}
}
@media (min-width: 100px) and (max-width: 550px) {
	
.title-text{
	margin-bottom: 0px;
	}
}
.mgmt-line{
    display: inline-block;
    padding-right:5px;
    border-right: 1px solid #000;
    }

 @media only screen and (max-width: 518px) {
     .mgmt-line{
        border-right:2px solid transparent;
    }
    }


.social-list i {
    color:#fff
}

.centered-left {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
    height: 50%;
    margin-left: 45px;
    margin-right: 45px;
}

.content-box {
    height: 100%;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
}
.blue-bg {
    background-color: rgba(60, 124, 151, 0.8)
}
.gold-bg {
    background-color: rgba(203, 145, 24, 0.6)
}
.red-bg {
    background-color: rgba(169, 31, 10, 0.8)
}

.text-box{
    position: absolute;
    top:0px;
    width: 90%;
    height: 100%;
    overflow-y:scroll;
    background-color: rgba(0,0,0,0);
    color: #fff;
    -webkit-backface-visibility: hidden;
}

.hidden{
    display: none;
}
    
.text{
    font-size: 18px;
}

.light-text{
    font-weight: 200;
}
.boxclose{
    top:0;
    left:98%;
    font-size: 30px;
    font-weight: 200;
}
    
#socials{
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
    width:150%;
}
#socials li{
    vertical-align: middle;
    padding-left: 0;
    padding-right: 20px
}
#socials p a img{
    vertical-align: middle;
    padding-left: 0;
    padding-right: 20px
}
.boxclose i{
    color: #000
}

#contact-form{
    max-width: 500px;
    margin: auto;
}
/* for mailchimp form */
.contact-form{
    max-width: 500px;
    margin: auto;
}

.pi-nav-links li a{
    color:#212529;
    padding-bottom:0
}
.pi-nav-links p a{
    color:#212529;
    padding-bottom:0
}

.with-errors{
    color:#d20000
}
    
.center-me{
    position: relative;
    top: 25%;
    left: 0;
    overflow-y:scroll;
    background-color: rgba(0,0,0,0.8);
    color: white;
}
.full-page-bg {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 0;     
}
    
.full-page-video {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
    
.ism-slider li.ism-slide {
    background:transparent;
}
.ism-slider{
    background-color: rgba(0,0,0,.0);
}

/* hide scroll bars */
::-webkit-scrollbar {
   display: none
}

.spotify-player {
    width: 80%;
    margin: auto;
}

.nav-item{
    cursor: pointer;
    position: absolute;
    right: 0;
    
}
.about-us {
    text-align: center;
    background-color: #fffff4;
    color: #000
}

.btn{
    border-radius: 0px;
}


.btn-success {
  color: #fff;
  background-color: #CB9118;
  border-color: #CB9118;
}

.btn-success:hover {
  color: #fff;
  background-color: #3C7C97;
  border-color: #3C7C97;
}

.btn-success.disabled, .btn-success:disabled {
    color: #fff;
    background-color: #CB9118;
    border-color: #CB9118;
}
.form-control{
    border-radius: 0px;
}

/* angular insta table */
 #insta-table img{
        width:400px;
        height:400px;
        object-fit: cover;
    }
    
.copyright{
    font-size: 12px;
    padding-left:10px;
}
.bounce {
    animation:bounce .8s;
    -webkit-animation:bounce .8s;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
}
    
.merch{
    width:500px;
    padding:15px;
}
    
.merch:hover{
/* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";

    /* IE 5-7 */
    filter: alpha(opacity=80);

    /* Netscape */
    -moz-opacity: 0.8;

    /* Safari 1.x */
    -khtml-opacity: 0.8;

    /* Good browsers */
    opacity: 0.8;
}
    
.quick-links p, .quick-links iframe{
    padding: 10px;
    margin:0;
    line-height: 32px;
    height: 50px;
    font-size: 14px;
}
.quick-links p a{
    color: #000;
}
#links{
    position: relative
}
  
.quick-links {
    display: flex;
    margin-top:5px;
    width:400px;
    
}
@media only screen and (max-width: 900px) {
    .spotify-player{
        width: 100%;
        
    }
}
   

@media only screen and (max-height: 500px) {
    #pictures{
        top:69%!important;
        right:40%!important;
}
    #store{
        right:60%!important;
    }
    .pvtilnd-icons {
        width:50px!important;
    }
}
    
.follow:hover{
    text-decoration: underline;
    cursor: pointer
}
.mc-email-box {
    width:100%;
    padding:5px;
    margin-bottom: 10px;
}

.pvtilnd-logo{
    width:200px;
}



/* Tooltip text */
.tip-box .tip-box-text {
    visibility: hidden;
    width: 140px;
    background-color: transparent;
    color: #000000;
    text-align: left;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text */
    position: absolute;
    right: 25%;
    z-index: 1;
}

.tip-box-top .tip-box-text {
    display: none;
    width: 50px;
    background-color: transparent;
    color: #000000;
    font-size: 17px;
    text-align: center;
    padding: 5px 0;
    border: 1px solid black;
    border-radius: 6px;
 
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    top: -40px;
    left: 45%;
}
.tip-box-bottom .tip-box-text:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0%;
	width: 0;
	height: 0;
	border: 7px solid transparent;
	border-right-color: #000000;
	border-left-color: #000000;
	border-left: 0;
	margin-left: -15px;
	margin-top: 8px;
}
.tip-box-bottom .tip-box-text {
/*    visibility: hidden;*/
    width: 50px;
    background-color: transparent;
    color: #000000;
    text-align: center;
    padding: 2px;
    border-radius: 6px;
    font-size: 20px;
 
    /* Position the tooltip text */
    position: relative;
    z-index: 1;
    bottom: -10px;
    left: 30px;
}

/* Show the tooltip text when you mouse over the tooltip container */



/* Show the tooltip text when you mouse over the tooltip container */
.tip-box:hover .tip-box-text, .tip-box-bottom:hover .tip-box-text {
    visibility: visible;
}

    .pvtilnd-icons{
        width:50px;
    }
    
    
    /* for cell phones vertically displayed */
    @media only screen and (max-width: 600px) {
        .pvtilnd-icons {
            width:50px;
    }
        
        
}
    
     @media only screen and (max-width: 768px) { 
        #main-page-contact .mgmt-line{
            border-right: 1px solid transparent;
        }
    }
    
    
    

    @media only screen and (max-width: 768px) and (min-width:601px) {
        .pvtilnd-icons{
            width: 50px;
    }
}
    
    
   


@media (max-width: 992px) and (min-width: 768px){
.container {
    max-width: 100%!important;
}
}
@media (max-width: 768px) and (min-width: 576px){
.container {
    max-width: 100%!important;
}
}