/*
    Designed by Roger Mawer
    www.mangomeat.com
*/

body, html {height:100%}
body {
	line-height: 1.4;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 0.5px;
    font-size: 15px;
	font-weight: 400;
}

/***********************************
************************************
Responsive media queries
************************************
***********************************/
.header {
    background-size: cover;
    min-height: 630px;
    position: relative;
}

.bg-color{
    background-color: #000;
    height: 100%;
}
    
.banner-text{
	padding: 15px 40px;
	color: #fff;
	margin-top: 0px;
    text-align: center;
}
.banner-text h2, .banner-text p{
	font-size: 40px;
	font-weight: 400;
	font-family: 'Questrial', sans-serif;
}



.title-text{
	padding: 0;
	font-size: 24px;
    letter-spacing: 4px;
    text-align: center;
    font-weight:bold;
    color:#fff;
    margin-bottom: 0;
    border-bottom: 1px solid #fff;

}


/*
responsive media queries
*/
@media (min-width: 551px) and (max-width: 980px){
	.title-text{
	margin-bottom: 0px;
	}
}
@media (min-width: 100px) and (max-width: 550px) {
	
.title-text{
	margin-bottom: 0px;
	}
}


.social-list i {
    color:#fff
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-box {
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    bottom:0;
    right:0;
    left:0;
    background-color: rgba(0,0,0,0.5);
    z-index: 99;
    cursor: pointer;
}

.text-box{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 80%;
    overflow-y:scroll;
    background-color: rgba(0,0,0,0.8);
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    z-index: -1;
}

.hidden{
    display: none;
}
    
.text{
    font-size: 18px;
}
.boxclose{
    position: relative;
    top:0;
    left:98%;
    font-size: 30px;
}
    
#socials{
    display: flex;
    justify-content: space-between;
    font-size: 1.5em
}
#socials i{
    vertical-align: middle;
}  

#contact-form{
    max-width: 500px;
    margin: auto;
}

.pi-nav-links li a{
    color:#212529;
    padding-bottom:0
}

.with-errors{
    color:#d20000
}
    
.center-me{
    position: relative;
    top: 25%;
    left: 0;
    overflow-y:scroll;
    background-color: rgba(0,0,0,0.8);
    color: white;
}
.full-page-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 0;     
}
    
.full-page-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
    
.ism-slider li.ism-slide {
    background:transparent;
}
.ism-slider{
    background-color: rgba(0,0,0,.0);
}

/* hide scroll bars */
::-webkit-scrollbar {
   display: none
}
